streamlit
langchain
langchain-core
langchain-google-genai
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith

python-dotenv
pandas
numpy
pyarrow
pillow
pydeck
SQLAlchemy
requests
orjson
protobuf

google-ai-generativelanguage
google-api-core
google-auth
grpcio
grpcio-status
